.slider{
	position: relative;
}

.slider_button{
	position: absolute;
	width: 50px;
	height: 50px;
}

.slider_left {
	top: 50%;
	left: -20px;
	transform: translateY(-50%);
}
@media (max-width: 560px){
  .slider_left{
    left: 10px;
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 380px){
  .slider_left{
    left: 30px;
    width: 20px;
    height: 20px;
  }
}

.slider_rigth{
	top: 50%;
	right: -20px;
	transform: translateY(-50%);
}
@media (max-width: 560px){
  .slider_rigth{
    right: 10px;
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 380px){
  .slider_rigth{
    right: 30px;
    width: 20px;
    height: 20px;
  }
}

.slider_window{
	position: relative;
	margin: 50px;
	width: 450px;
	height: 550px;
	border: 1px solid black;
	border-radius: 50px;
	overflow: hidden;
}

@media (max-width: 767px){
  .slider_window{
    width: 400px;
    height: 350px;
  }
}
@media (max-width: 560px){
  .slider_window{
    width: 300px;
    height: 250px;
  }
}

.slider_wrapper{
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	transition: 2s;
}



